body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Tahoma, sans-serif;
}

.main {
  padding: 2em;
  max-width: 1536px;
}

h2 {
  text-decoration: underline;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}